/*We don't want breaks to be selectable*/
/*https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript*/
br, .noSelect
{
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
}

.centre
{
    text-align: center;
}

a
{
    text-decoration: none;
}