body
{
    background-color: #171717;
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #e6e6e6;
}

.container-fluid
{
    width: 95%;
}

.navbar li
{
    display: inline;
}

nav
{
    font-size: 24px;
}

nav
{
    padding-left: 30px;
    padding-right: 30px;
}

img
{
    max-width: 100%;
    width: auto;
    height: auto;
}