body
{
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #353535;
}
/*We don't want breaks to be selectable*/
/*https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript*/
br, .noSelect
{
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
}
.centre
{
    text-align: center;
}

.centre-float
{
    float: center;
}

hr
{
    width: 50%;
    margin: auto;
}

.btn-primary
{
    background-color: darkviolet;
    border-color: darkviolet;
    color: white;
}

.btn-primary:hover
{
    background-color: rgb(81, 12, 110);
    border-color: rgb(81, 12, 110);
    color:white;
}

.btn-primary:focus
{
    background-color: rgb(81, 12, 110);
    border-color: rgb(81, 12, 110);
    color:white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4286f4;
    color: white;
    text-align: center;
  }

  .invisible
  {
      visibility: hidden;
  }