a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}
butLi {
	border: 1px solid black;
	padding: 4px;
	background-color: #6dafbf;
}

butLi:hover {
	background-color: #3d6794;
	border: 1px solid white;
}

container {
	font-family: helvetica;
}

header {
	text-align: center;
}

html {
	padding-left: 32px;
}

br {
	user-select: none;
	-ms-user-select: none;
}